<!DOCTYPE html><head>
<title>PLANNEROCITY</title>
    <head>
        <title>PLANNEROCITY</title>
        <header style="color: darkorange; background-color: lightcyan; font-size: 20px; font-family: 'Gill Sans' ; text-align: left; padding-bottom: 10px"</header>
    </head>
<body style="background-color: lightcyan">
<h1 style="font-family: 'Gill Sans'; color: darkorange;">{{title}}</h1>

	 <style>
	 .star-ratings{
	    position: relative;
	    margin: 0;
	    padding: 0;
	 }
    .fill-ratings{
       top: 0px;
       left: 0px;
       position: absolute;
       z-index: 1;
	    color:orange;
		 display:block;
		 padding:0;
		 overflow:hidden;
	  }
	  .empty-ratings{
        top: 0px;
        left: 0px;
        position: above;
        z-index: 0;
		  display:block;
		  padding:0;
	  }
     span {
       display: inline-block;
     }
	  </style>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
  // Gets the span width of the filled-ratings span
  // this will be the same for each rating
  var star_rating_width = $('.fill-ratings span').width();
  // Sets the container of the ratings to span width
  // thus the percentages in mobile will never be wrong
  $('.star-ratings').width(star_rating_width);
});
</script>
​
</div>


<!--Show food recommendation with a map></!-->
<p style="font-family: 'Gill Sans'; font-size: 30px; margin-top: -10px;">Top Food: {{food['name']}} - {{food['price']}}</p>
<p style="font-family: 'Gill Sans'; color: darkgray; font-size: 20px; margin-top: -25px">Phone number: {{food['phone']}}</p>
<div class="star-ratings" style="margin-top: -10px">
    <div class="fill-ratings" style="width:{{food['rating']}}%";>
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings" style="width:100%;">
        <span>★★★★★</span>
    </div>
</div>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; padding-bottom: 30px; margin-top: 10px"
    src="{{food['map']}}" allowfullscreen>
</iframe>


<!--Show restaurant recommendation with a map></!-->
<p style="font-family: 'Gill Sans'; font-size: 30px">Top Restaurant: {{restaurant['name']}} - {{restaurant['price']}}</p>
<p style="font-family: 'Gill Sans'; color: darkgray; font-size: 20px; margin-top: -25px">Phone number: {{restaurant['phone']}}</p>
<div class="star-ratings" style="margin-top: -10px">
    <div class="fill-ratings" style="width:{{restaurant['rating']}}%";>
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings" style="width:100%;">
        <span>★★★★★</span>
    </div>
</div>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; padding-bottom: 30px; margin-top: 10px"
    src="{{restaurant['map']}}" allowfullscreen>
</iframe>



<!--Show dessert recommendation with a map></!-->
<p style="font-family: 'Gill Sans'; font-size: 30px">Top Dessert: {{dessert['name']}} - {{dessert['price']}}</p>
<p style="font-family: 'Gill Sans'; color: darkgray; font-size: 20px; margin-top: -25px">Phone number: {{dessert['phone']}}</p>
<div class="star-ratings" style="margin-top: -10px">
    <div class="fill-ratings" style="width:{{dessert['rating']}}%";>
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings" style="width:100%;">
        <span>★★★★★</span>
    </div>
</div>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; padding-bottom: 30px; margin-top: 10px"
    src="{{dessert['map']}}" allowfullscreen>
</iframe>



<!--Show drinks shop recommendation with a map></!-->
<p style="font-family: 'Gill Sans'; font-size: 30px">Top Drinks: {{drinks['name']}} - {{drinks['price']}}</p>
<p style="font-family: 'Gill Sans'; color: darkgray; font-size: 20px; margin-top: -25px">Phone number: {{drinks['phone']}}</p>
<div class="star-ratings" style="margin-top: -10px">
    <div class="fill-ratings" style="width:{{drinks['rating']}}%";>
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings" style="width:100%;">
        <span>★★★★★</span>
    </div>
</div>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; padding-bottom: 30px; margin-top: 10px"
    src="{{drinks['map']}}" allowfullscreen>
</iframe>
<br>


<!--Show activity recommendation with a map></!-->
<p style="font-family: 'Gill Sans'; font-size: 30px">Top Activity: {{activity['name']}} - {{activity['price']}}</p>
<p style="font-family: 'Gill Sans'; color: darkgray; font-size: 20px; margin-top: -25px">Phone number: {{activity['phone']}}</p>
<div class="star-ratings" style="margin-top: -10px">
    <div class="fill-ratings" style="width:{{activity['rating']}}%";>
        <span>★★★★★</span>
    </div>
    <div class="empty-ratings" style="width:100%;">
        <span>★★★★★</span>
    </div>
</div>
<iframe
    width="600"
    height="450"
    frameborder="0" style="border:0; padding-bottom: 30px; margin-top: 10px"
    src="{{activity['map']}}" allowfullscreen>
</iframe>
<br>

</body>
</html>